.loader {
    background: black;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 50px;
    color: #FFE300;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 5px;
    padding: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFE300;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.searchBar {
    margin: 0 auto;
    width: 400px;
    height: 30px;
}

.searchBar > * {
    height: 100%;
}

.searchBar input {
    width: 78%
}

.searchBar button {
    width: 20%;
    padding: 2px 0;
}

button {
    background: #FFE300;
    color: black;
    border: none;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    text-transform: uppercase;
    font-weight: bold;
}

section {
    margin-top: 50px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px;
    border: 2px solid #000;
    width: 200px;
    cursor: pointer;
    transition: all .5s ease-in;
    text-align: center;
    color: #FFE300;
    background: #000;
}


.inner {
    transition: all 1s;
    position: fixed;
    z-index: 550;
    transform: translateY(-100%);
    left: 50%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    perspective: 3000px;
}

.inner.active {
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
}

.header {
    line-height: 30px;
    height: 30px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.content {
    z-index: 1;
    line-height: 1;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    min-height: 100px;
    padding: 15px;
    overflow: hidden;
    height: 260px;
}

.content::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}

.content .card {
    margin: 0;
    width: 95%;
    font-size: 25px;
    text-align: justify;
    line-height: 35px;
    position: relative;
    animation: slidingUp 15s linear infinite;
}

@keyframes slidingUp {
    0% {
        transform: translateY(80%) translateZ(0) rotateX(64deg);
    }

    100% {
        transform: translateY(-100%) translateZ(-1000px) rotateX(72deg);
    }
}

.overlay {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 0;
    display: none;
    width: 100%;
    border: 0;
}

.overlay.active {
    display: block;
}


button {
    cursor: pointer
}
